.notification-item {
    width: 400px;
    background-color: #2e335475;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.notification-item:hover {
    background-color: #4a90e2;
}

.message {
    flex: 1;
}

.close-btn {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    align-self: flex-start;
}