div {
    color: white;
    padding-left: 10px;
    margin-right: 50px;
}

ul {
    display: inline-block;
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 30px;
}

Link {
    color: white;
    text-decoration: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link-active {
    color: rgb(162, 212, 255);
    text-decoration: underline;
    text-underline-offset: 20px;
}

.notification-task {
    font-size:large;
}

.navbar-hr {
    margin: 0px;
}
